#app {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin boxy-element {
  padding: 0.5em;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  gap: 1em;
  padding: 1em;
  background: lightgray;
  &__logo {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }
  &__label {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
  }
  &__base-color {
    padding: 0;
    width: 100%;
  }
  &__colorschemes {
    @include boxy-element;
  }
}

.btn {
  @include boxy-element;
  font-weight: 900;
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  &__color {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
  }
}
